:root {
	--calculator-background: #f6f5f4;
	--calculator-screen: #deddda;
	--page-background: #ffffff;
	--calculator-button: #9a9996;
}

* {
	border: 0;
	padding: 0;
}

body {
	background: var(--page-background);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.main-body {
	background: var(--calculator-background);
	width: 280px;
	display: flex;

	gap: 8px;
	flex-direction: column;
	border-radius: 16px;
	padding: 16px 0;

	border: 1px solid var(--calculator-screen);
}

.display {
	background: var(--calculator-screen);
	flex: 1 1 auto;
	height: 32px;
	text-align: right;
	justify-content: center;
	align-items: center;
	padding: 16px;
	margin-top: 8px;
}

.button-group {
	display: flex;
	flex-flow: row wrap;
	justify-items: stretch;
    justify-content: stretch;
	row-gap: 8px;
	padding: 8px;
}

.button-row {
	flex: 1 100%;
	display: flex;
    justify-content: space-between;
}

.button {
    padding: 8px;
	width: 64px;
	border-radius: 4px;
}
